# .github/workflows/publish.yml
name: Publish

on:
  workflow_dispatch:
  release:
    types:
      - published
      - created

jobs:
  Publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check no changelog fragments
        if: ${{ github.event_name == 'release' }}
        run: |
          shopt -s nullglob
          for _ in changelog.d/*.md ; do
              echo "Error: changelog snippets found"
              exit 1
          done
          echo "Success: no changelog snippets"
        shell: bash

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: uv build

      - name: Lint dist
        run: |
          uvx -crequirements/lock/uvx-tools.txt check-wheel-contents dist/*.whl
          uvx -crequirements/lock/uvx-tools.txt twine check --strict dist/*

      - name: Check version
        if: ${{ github.event_name == 'release' }}
        run: |
          uv run --script tools/check_dist_version.py --version ${{ github.event.release.tag_name }} -- dist/*.whl dist/*.tar.gz

      - name: Smoke test (wheel)
        run:
          uv run --isolated --no-project --with dist/*.whl tests/test_smoke.py
      - name: Smoke test (sdist)
        run:
          uv run --isolated --no-project --with dist/*.tar.gz
          tests/test_smoke.py

      - name: Publish testpypi
        run: uv publish --trusted-publishing always --index testpypi

      - name: Publish
        if:
          ${{ github.event_name == 'workflow_dispatch' || (github.event_name ==
          'release' && github.event.action == 'published') }}
        run: uv publish --trusted-publishing always
