name: Publish
on:
  workflow_dispatch:
  release:
    types: [published]
  # these covered by ci?
  # pull_request:
  # push:
  #   branches: [main]

env:
  FORCE_COLOR: "3"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dist:
    name: Build and verify
    runs-on: ubuntu-latest
    env:
      DIST: "/tmp/biapp/dist"
    permissions:
      id-token: write
      attestations: write

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@v2

      # extra checks
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - run: |
          echo a "${DIST}"
          echo b $DIST
          ls "${DIST}"
          ls "${DIST}"/*.whl
          ls "${DIST}"/*.tar.gz

      - name: Smoke test
        run: |
          uv run --isolated --no-project --with "${DIST}"/*.whl tests/test_smoke.py
          uv run --isolated --no-project --with "${DIST}"/*.tar.gz tests/test_smoke.py

      - name: Check no changelog fragments
        if: github.event_name == 'release' && github.event.action == 'published'
        run: |
          shopt -s nullglob
          for _ in changelog.d/*.md ; do
              echo "Error: changelog snippets found"
              exit 1
          done
          echo "Success: no changelog snippets"
        shell: bash

      - name: Check version
        if: github.event_name == 'release' && github.event.action == 'published'
        run: |
          uv run --script tools/check_dist_version.py --version ${{ github.event.release.tag_name }} -- "${DIST}"/*.whl "${DIST}"/*.tar.gz

  publish:
    name: Publish package
    needs: [dist]
    environment:
      name: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: Packages
          path: dist

      - name: Publish to testpypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

      - name: Publish to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
